* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 600;
}

main img {
  width: 100%;
}

.btn {
  border-radius: 20px;
}

/* Sony Header */
#sony-header {
  height: 30px;
}

/* Navbar */
.navbar-brand {
  width: 50px;
}

#navbar .nav-item img {
  height: 35px;
}

/* Banner */
#banner .container-fluid,
#it-takes-two .container-fluid {
  padding: 0;
}

#banner .container-fluid > img,
#it-takes-two .container-fluid > img {
  min-height: 65vh;
}

#banner .banner-content {
  top: 38%;
}

.banner-content img {
  width: 280px;
}

.banner-content h1 {
  font-size: 38px;
  color: #fff;
}

.banner-content p {
  color: #fff;
}

.banner-content .btn {
  background-color: #ff4500;
}

/* Thumbnail */
.thumbnail {
  width: 220px;
  border-radius: 35px;
}

.thumbnail.active {
  padding: 2px;
}

/* It Takes Two */
#it-takes-two .banner-content{
  top: 5%;
}

/* PS Plus */
#plus .btn {
  background-color: gainsboro;
}

/* Media MD */
@media (min-width: 768px) {
  .banner-content img {
    width: 420px;
  }

  /* Carousel Section */
  #carousel .col.item img {
    scale: .6;
  }
}

/* Media LG */
@media (min-width: 992px) {
  .banner-content {
    width: 500px;

    margin-left: 30px;
  }
}
