* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Sony Header */
#sony-header {
  height: 30px;
}

#sony-header img {
  height: 13px;
}

/* Navbar */
#navbar .nav-item .btn {
  border-radius: 20px;
}

#navbar .nav-item img {
  height: 35px;
}

/* Banner */
#banner-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#returnal-banner {
  width: 100%;
  min-height: 60vh;
}

#banner-content {
  top: 200px;
}

#returnal-logo {
  width: 280px;
}

#banner h1 {
  font-size: 41px;
  color: #fff;
}

#banner p {
  color: #fff;
}

#banner .btn {
  border-radius: 20px;
  background-color: #ff4500;
}

@media (min-width: 768px) {
  #returnal-logo {
    width: 420px;
  }
}

@media (min-width: 992px) {
  #banner-content {
    top: 250px;
    width: 500px;

    margin-left: 60px;
    scale: 1.2;
  }

  #returnal-logo {
    width: 280px;
  }

  #banner h1 {
    font-size: 50px;
  }
}
