* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Banner */
#banner-container {
  width: 100%;
  padding: 0;
  margin: 0;
}

#returnal-banner {
  width: 100%;
  min-height: 60vh;
}

#banner-content {
  top: 330px;
}

#returnal-logo {
  width: 280px;
}

#banner h1 {
  font-size: 41px;
  color: #fff;
}

#banner p {
  color: #fff;
}

#banner button {
  border-radius: 20px;
  background-color: #ff4500;
}

@media (min-width: 768px) {
  #returnal-logo {
    width: 420px;
  }
}

@media (min-width: 992px) {
  #banner-content {
    top: 300px;
    width: 500px;

    margin-left: 60px;
    scale: 1.2;
  }

  #returnal-logo {
    width: 280px;
  }

  #banner h1 {
    font-size: 50px;
  }
}
