* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Sony Header */
#sony-header {
  height: 30px;
}

#sony-header img {
  height: 13px;
}

/* Navbar */
#navbar .nav-item .btn {
  border-radius: 20px;
}

#navbar .nav-item img {
  height: 35px;
}

/* Banner */
#banner .container-fluid {
  padding: 0;
}

#returnal-banner {
  width: 100%;
  min-height: 65vh;
}

#banner-content {
  top: 38%;
}

#returnal-logo {
  width: 280px;
}

#banner h1 {
  font-size: 41px;
  color: #fff;
}

#banner p {
  color: #fff;
}

#banner .btn {
  border-radius: 20px;
  background-color: #ff4500;
}

/* Thumbnail */
.thumbnail {
  width: 220px;
  border-radius: 35px;
}

.thumbnail.active {
  padding: 2px;
}

/* Media MD */
@media (min-width: 768px) {
  #returnal-logo {
    width: 420px;
  }
}

/* Media LG */
@media (min-width: 992px) {
  #banner-content {
    width: 500px;

    margin-left: 60px;
    scale: 1.2;
  }

  #returnal-logo {
    width: 280px;
  }

  #banner h1 {
    font-size: 50px;
  }
}
