* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-weight: 600;
}

main img {
  max-width: 100%;
}

.btn {
  border-radius: 20px;
}

/* Sony Header */
#sony-header {
  height: 30px;
}

#sony-header > div {
  display: flex;
  justify-content: end;
}

#sony-header img {
  height: 15px;
}

/* Navbar */
.navbar-brand {
  width: 50px;
}

#navbar .nav-item img {
  height: 35px;
}

/* Banner */
#banner .container-fluid {
  background: url(../img/jumbo-bg.png);
  background-position: center;
  min-height: 65vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-content img {
  width: 280px;
}

.banner-content h1 {
  font-size: 38px;
  color: #fff;
}

.banner-content p {
  color: #fff;
}

.banner-content .btn {
  background-color: #ff4500;
  max-width: 160px;
}

/* Thumbnail */
.thumbnail {
  border-radius: 35px;
}

.thumbnail.active {
  padding: 2px;
}

/* It Takes Two */
#it-takes-two .container-fluid {
  background: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  min-height: 65vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PS Plus */
#plus .btn {
  background-color: gainsboro;
}

/* Media MD */
@media (min-width: 768px) {
  .banner-content img {
    width: 420px;
  }

  /* Carousel Section */
  #carousel .col.item img {
    scale: .6;
  }
}

/* Media LG */
@media (min-width: 992px) {
  .banner-content {
    width: 500px;

    margin-left: 30px;
  }
}
